.gradle/
/local.properties
/.idea/
build/
**/build/
.DS_Store
.jdks/
local.properties
.jdks/
.chunkhound.json
.chunkhound/
Screenshot_20251118_232453_com.gladomat.linklet.jpg
Screenshot_20251119_125709.jpg
editor_bar_only.jpg
toolbar_implementaiton.md